@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../img/svg/узор3.png);
  background-position-x: 50%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-color: #121619;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body header {
  background-color: #121619;
  background-size: cover;
}
@media (min-width: 993px) {
  body header button {
    display: none;
  }
}
@media (max-width: 992px) {
  body header .collapseButton {
    position: fixed;
    width: 5.5em;
    height: 3.5em;
    background-color: #1d252b;
    right: 0;
    border: 0.125em solid #52f114;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  body header .collapseButton span {
    width: 2.5em;
    height: 0.3em;
    display: inline-block;
    background-color: #4ad715;
    transition-duration: 300ms;
  }
  body header .collapseButton span:nth-of-type(1) {
    margin-bottom: 0.3em;
  }
  body header .collapseButton span:nth-of-type(3) {
    margin-top: 0.3em;
  }
  body header .collapseButtonActive {
    z-index: 3;
  }
  body header .collapseButtonActive span:nth-of-type(1) {
    transform: rotate(45deg);
    height: 0.1rem;
    transition-duration: 300ms;
  }
  body header .collapseButtonActive span:nth-of-type(2) {
    display: none;
    transition-duration: 300ms;
  }
  body header .collapseButtonActive span:nth-of-type(3) {
    transform: rotate(-46deg);
    margin-top: -4px;
    height: 0.1rem;
    transition-duration: 300ms;
  }
}
body header nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  border-bottom: 0.125em solid #52f114;
  border-top: 0.125em solid #52f114;
}
@media (max-width: 992px) {
  body header nav {
    border: 0;
  }
}
@media (max-width: 992px) {
  body header nav {
    display: none;
  }
}
body header nav .column {
  border-right: 0.125em solid #52f114;
  padding: 0.5em 1em;
  flex-basis: 25%;
  text-align: center;
  color: #52f114;
}
@media (max-width: 992px) {
  body header nav .column {
    border: 0;
  }
}
body header nav .column:nth-of-type(1) {
  border-left: 0.125em solid #52f114;
}
@media (max-width: 992px) {
  body header nav .column:nth-of-type(1) {
    border: 0;
  }
}
body header .navCollapseActive {
  display: flex;
  flex-direction: column;
  width: 15em;
  position: fixed;
  right: 0;
  border: 0;
  z-index: 1;
  padding: 5em 2em 2em 2em;
  background-color: #121619;
}
body header .navCollapseActive .column {
  border: 0.125em solid #52f114 !important;
  background-color: #121619;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 0.3em;
}

body {
  font-size: 14px;
}
@media (max-width: 1600px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 1280px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 1140px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 9px;
  }
}

body main {
  margin-top: 2em;
}
body main section {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  justify-items: space-between;
}
@media (min-width: 769px) {
  body main section {
    max-width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  body main section {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 2em;
  }
}
body main section .column:nth-of-type(1) {
  order: 1;
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(1) {
    order: 1;
  }
}
body main section .column:nth-of-type(1) .column_animated_external {
  background-color: #212324;
  width: 28em;
  height: 28em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125em solid #52f114;
  border-radius: 100%;
}
body main section .column:nth-of-type(1) .column_animated_external .column_internal {
  width: 20em;
  height: 20em;
  background-color: #212324;
  border: 0.125em solid #52f114;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section .column:nth-of-type(1) .column_animated_external .column_internal #text1 {
  font-size: 2em;
  color: white;
}
body main section .column:nth-of-type(1) .column_animated_external .column_internal #text2 {
  position: absolute;
  font-size: 2.75em;
  color: white;
  transition-duration: 100ms;
}
body main section .column:nth-of-type(2) {
  order: 4;
  font-size: 2.875em;
  color: #52f114;
  align-self: start;
  margin-top: -1em;
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(2) {
    order: 2;
  }
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(2) {
    margin-top: 0;
  }
}
body main section .column:nth-of-type(3) {
  order: 2;
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(3) {
    order: 4;
  }
}
body main section .column:nth-of-type(3) .column_container {
  background-color: #1d252b;
  border-radius: 0.4em;
  border: 0.1em solid #52f114;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) {
  padding: 0.5em 0;
  border-bottom: 0.1em solid #52f114;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper {
  max-width: 95%;
  margin: 0 auto;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background-color: whitesmoke;
  border-radius: 100%;
  margin-right: 0.3em;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a:nth-of-type(1) {
  background-color: #971414;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a:nth-of-type(1):hover {
  background-color: #f52626;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a:nth-of-type(2) {
  background-color: #bd861d;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a:nth-of-type(2):hover {
  background-color: #ffb42a;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a:nth-of-type(3) {
  background-color: #62a747;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(1) .row_wrapper a:nth-of-type(3):hover {
  background-color: #6fda45;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(2) .row_wrapper {
  max-width: 95%;
  margin: 0 auto;
  font-size: 1.25em;
  color: #4ad715;
  line-height: 1.3em;
  background-color: #212324;
  border: 0.1em solid #52f114;
  padding: 2em;
  box-sizing: border-box;
  margin-top: 1em;
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(3) .column_container .row:nth-of-type(2) .row_wrapper {
    padding: 1em;
  }
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(3) {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(3) a {
  width: 1.5em;
  height: 1.5em;
  background-color: #4ad715;
  display: inline-block;
  border-radius: 100%;
  margin-right: 0.3em;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(4) .row_wrapper {
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(4) .row_wrapper input {
  border: 0.125em solid #52f114;
  background-color: #212324;
  width: 100%;
  height: 5em;
  font-size: 1.25em;
  color: #4ad715;
  outline: none;
  padding: 0 2em;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(3) .column_container .row:nth-of-type(4) .row_wrapper input {
    height: 4em;
  }
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(5) .row_wrapper {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(5) .row_wrapper a {
  color: #4ad715;
  background-color: #212324;
  padding: 0.5em 1em;
  border: 0.125em solid #52f114;
}
body main section .column:nth-of-type(3) .column_container .row:nth-of-type(5) .row_wrapper a:hover {
  background-color: #111111;
}
body main section .column:nth-of-type(4) {
  order: 3;
  width: 100%;
}
body main section .column:nth-of-type(4) .column_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(4) .column_wrapper {
    order: 3;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media (max-width: 992px) {
  body main section .column:nth-of-type(4) .column_wrapper {
    max-width: 95%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  body main section .column:nth-of-type(4) .column_wrapper {
    flex-wrap: wrap;
  }
}
body main section .column:nth-of-type(4) .column_wrapper .box {
  background-image: url(../img/computer.png);
  width: 17em;
  height: 17em;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
}
body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(1) {
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(1) {
    margin-right: 2em;
  }
}
@media (max-width: 500px) {
  body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(1) {
    margin-right: 0;
  }
}
body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(3) {
  margin-top: 2em;
}
@media (max-width: 576px) {
  body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(3) {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(3) {
    margin-left: 2em;
  }
}
@media (max-width: 500px) {
  body main section .column:nth-of-type(4) .column_wrapper .box:nth-of-type(3) {
    margin-left: 0;
  }
}
body main section .column:nth-of-type(4) .column_wrapper .box p {
  color: #4ad715;
  font-size: 1.25em;
}

footer {
  background-color: #121619;
}
footer p {
  font-size: 1.3em;
  color: #52f114;
  text-align: center;
  padding: 1em 0;
  border-top: 0.1em solid #52f114;
}