@import "variables.scss";
body {
    header {
        background-color: $backgroundColorHeader;
        background-size: cover;
        button {
            @media (min-width: 993px) {
                display: none;
            }
        }
        @media (max-width: 992px) {
            .collapseButton {
                position: fixed;
                width: 5.5em;
                height: 3.5em;
                background-color: $backgroundTerminal;
                right: 0;
                border: 0.125em solid $colorTextHeader;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 3;
                span {
                    width: 2.5em;
                    height: 0.3em;
                    display: inline-block;
                    background-color: $colorTextTerminal;
                    transition-duration: 300ms;
                    &:nth-of-type(1) {
                        margin-bottom: 0.3em;
                    }
                    &:nth-of-type(3) {
                        margin-top: 0.3em;
                    }
                }
            }
            .collapseButtonActive {
                z-index: 3;
                span:nth-of-type(1) {
                    transform: rotate(45deg);
                    height: 0.1rem;
                    transition-duration: 300ms;
                }
                span:nth-of-type(2) {
                    display: none;
                    transition-duration: 300ms;
                }
                span:nth-of-type(3) {
                    transform: rotate(-46deg);
                    margin-top: -4px;
                    height: 0.1rem;
                    transition-duration: 300ms;
                }
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            font-size: 1.7em;
            border-bottom: 0.125em solid $colorTextHeader;
            border-top: 0.125em solid $colorTextHeader;
            @media (max-width: 992px) {
                border: 0;
            }
            @media (max-width: 992px) {
                display: none;
            }
            .column {
                border-right: 0.125em solid $colorTextHeader;
                @media (max-width: 992px) {
                    border: 0;
                }
                padding: 0.5em 1em;
                flex-basis: 25%;
                text-align: center;
                color: $colorTextHeader;
                &:nth-of-type(1) {
                    border-left: 0.125em solid $colorTextHeader;
                    @media (max-width: 992px) {
                        border: 0;
                    }
                }
            }
        }
        .navCollapseActive {
            display: flex;
            flex-direction: column;
            width: 15em;
            position: fixed;
            right: 0;
            border: 0;
            z-index: 1;
            padding: 5em 2em 2em 2em;
            background-color: $backgroundColorHeader;
            .column {
                border: 0.125em solid $colorTextHeader !important;
                background-color: $backgroundColorHeader;
                padding: 1em;
                border-radius: 1em;
                margin-bottom: .3em;
            }
        }
    }
}
